:root {
  --primary-color: rgb(245, 242, 254);
  --secondary-color: rgb(239, 216, 244);
  --third-color: rgb(247, 205, 227);
  --fourth-color: rgb(255, 255, 255);
}
@media (max-width: 800px) {
  a.btn {
    justify-content: center;
    width: 100%;
    margin: 10px auto;
  }
  img.img-column {
    width: 100;
    display: none;
  }
  img.about-img {
    margin: 100px;
    width: 100;
  }

  h2#front-end2 {
    text-align: center;
  }
  .faq-container {
    font-size: x-small;
  }
}
span {
  font-size: 40px;
  color: var(--third-color);
}

h1 {
  font-family: "Futura", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 50% auto;
  text-align: center;
}
h2 {
  font-family: "Futura", sans-serif;
}
h3 {
  background-color: var(--third-color);
  border: 10px solid var(--third-color);
  border-radius: 10px;
}
ul {
  font-family: "Futura", sans-serif;
  text-align: left;
  font-size: small;
  color: var(--fourth-color);
}
img {
  display: block;
  margin: 50px auto;
  border-radius: 150px;
}

.link {
  text-decoration: none;
  color: var(--fourth-color);
}
#nav {
  box-shadow: 10px 10px 20px rgba(205, 87, 238, 0.2);
}
.navbar-brand {
  font-family: "Lobster", sans-serif;
}
.front-end-header {
  text-align: center;
  color: var(--fourth-color);
}
.header-two {
  text-align: center;
  font-family: "Futura", sans-serif;
  font-size: 50px;
  color: var(--fourth-color);
}

.header {
  color: var(--fourth-color);
}
.profile {
  background-color: var(--secondary-color);
  box-shadow: 0px 6px 29px 3px rgba(223, 133, 215, 0.2);
  padding-top: 110px;
  padding-bottom: 50px;
}

.btn {
  margin: 100px auto;
  width: 100%;
}
.instagram,
.linkedin,
.github {
  color: var(--fourth-color);
}
.instagram:hover,
.linkedin:hover,
.github:hover {
  color: var(--secondary-color);
}
#second-profile {
  padding-top: 150px;
  padding-bottom: 150px;
  font-size: xx-large;
}
footer {
  padding-top: 50px;
  padding-bottom: 150px;
  background-color: var(--third-color);
}

.about-img {
  margin: 50px;
  border-radius: 150px;
}
#front-end2 {
  margin: 30px;
  color: var(--fourth-color);
}

img.img-column {
  border-radius: 1px;
}
.container {
  margin-top: 50px;
}
img.img-certificate {
  border-radius: 1px;
}
img.footer {
  margin: 10px;
}
p {
  display: block;
  padding: 30px;
  font-weight: 200;
  border-radius: 4px;
  line-height: 1.5;
  text-align: start;
}
.faq-container {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.follow-me {
  display: flex;
  margin-left: 10px;
  text-align: right;
}
.container h1 {
  color: #fff;
  text-align: center;
}

details {
  margin: 1% auto;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.5rem;
}

summary {
  padding: 0.5em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: height 1s ease;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  content: "\002B";
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

details[open] summary:after {
  content: "\00D7";
}

details[open] div {
  padding: 0.5em 1em;
}
